@font-face {
    font-family: "Varela Round";
    src: url("../fonts/VarelaRound-Regular.ttf");
}

#howwasit {
	font-family: "Arial";
	margin-top: 10px;
	margin-bottom: 0px;
}

#ordercontent img{
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 90px;
	border: 2px solid grey;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

#ordercontent #username {
	margin: 0;
	text-align: center;
	font-family: "Varela Round";
	font-size: 1.5em;
	font-weight: bold;
	color:  #333333;
}

#ordercontent #name {
	margin: 0;
	text-align: center;
	font-family: "Varela Round";
	font-size: 1.2em;
	color:  #333333;
}

#ordercontent form textarea {
	width: 95%;
	height: 40px;
}

#ordercontent form button {
	margin-right: 20px;
	float: right;
	background-color:  #66cc00;
	border-radius: 9px;
	border: 1px solid black;
	width: 100px;
	height: 40px;
	font-size: 1em;
}


.rate {
    float: left;
    margin-left: 25%;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}