body {
 	background-color: #f5f5f5;
 	font-family: 'Roboto', sans-serif;
}

div {
	margin: 0 0 0 0;
}

.make-an-order-header {
	display: flex;
}

.location-header {
	display: flex;
}

.make-an-order-title {
	padding-left: 24px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.order-header1 {
	margin-left : 24px;
	display : flex;
}

.buletan {
	height : 30px;
	min-width : 30px;
	background-color : gray;
	border-radius : 100%;
	margin-top : 3px;
	margin-left : 3px;
	text-align : center;
}

.teks-buletan {
	font-size : 16px;
	margin-top : 6px;
	color : black;
}

.order-2 {
	display : flex;
	margin-right : 22px;
	font-size : 12px;
	width : 100px;
	color : black;
	border : 1px solid black;
}

.content {
	font-size : 12px;
	padding : 4px 5px 5px 5px;
	color : black;
}

.content2 {
	font-size : 12px;
	padding : 10px 5px 10px 5px;
	color : black;
}

a.whitelink {
	color: white;
}

#order-active {
	background-color : #FFFE95;
	color : yellow;
}

.whitelink {
	border-radius : 15px;
}

.preferred-drivers-container {
	margin-top : 15px;
	margin-left : 24px;
	margin-right : 24px;
	border : 1px solid black;	
	border-radius : 15px;
}

.preferred-drivers-header {
	margin-left : 5px;
	margin-top : 3px;
	font-size : 21px;
	font-weight : 500;
}

.preferred-drivers-content {
	color : grey;
	margin-top : 20px;
	margin-bottom : 20px;
	text-align : center;
}

.other-drivers-container {
	margin-top : 15px;
	margin-left : 24px;
	margin-right : 24px;
	border : 1px solid black;	
	border-radius : 15px;
}

.other-drivers-header {
	margin-left : 5px;
	margin-top : 0px;
	font-size : 21px;
	font-weight : 500;
}

.other-drivers-content {
	color : grey;
	margin-top : 20px;
	margin-bottom : 20px;
	text-align : center;
}

.kol-1 img{
    margin-left : 10px;
    width : 90px;
    height: 90px;
    border: 1px solid black;
}

.kol-2 {
    margin-left : 10px;
    float : left;
    width : 225px;
}   

.head-detail {
    
    font-size : 18px;
    display : block;
    
}

.rating-detail {
    font-size : 12px;
    display : block;
}
    
.driver-button {
    background-color: #7DD700;
    font-size : 11px;
    font-weight : 500;
    margin-top : 20px;
    width : 100px;
    height : 30px;
    float : right;
    border : 1px solid black;
    border-radius : 5px;
}

.driver-button:hover {
    font-weight : 700;
    opacity : 0.7;
}

.kosong {
    margin : 10px;
    height : 30px;
    color : darkgray;
    text-align : center;
}